/*** customization for forum (bbPress) ***/
div.bbp-breadcrumb {padding-right:20px;}
.pp-single-content {margin-top:20px; padding: 20px; border-right: 0; margin-right: 0px;}
.forum.bbpress .pp-single-content {border: 1px solid #ddd;}
#bbpress-forums p.bbp-topic-meta img.avatar {margin-bottom:0;}
#bbpress-forums .topic.type-topic.status-publish {background:#ffffcc;}

.bbp-login-form fieldset {
padding: .35em .625em .75em;
margin: 0 2px;
border: 0px solid silver;
}